/*!
 * VisualEditor UserInterface CiteFromId styles.
 */

.ve-ui-citeFromIdInspector-form {
	margin: 0;
}

.citoid-citeFromIDDialog-panel-auto,
.citoid-citeFromIDDialog-panel-manual {
	margin: 0.75em;
}

.ve-ui-citeFromIdInspector-search {
	min-height: 20em;
}

.ve-ui-citeFromIdInspector-search .ve-ui-mwReferenceResultWidget {
	padding: 0.5em;
}

.ve-ui-citeFromIdInspector-preview + .ve-ui-citeFromIdInspector-preview {
	border-top: 1px solid #cccccc;
}

.ve-ui-citeFromIdInspector-preview {
	max-height: 15em;
	margin-top: 1em;
	padding: 0.5em;
	overflow-y: auto;
}

.ve-ui-citeFromIdReferenceWidget.oo-ui-labelElement .oo-ui-labelElement-label {
	white-space: normal;
}

.ve-ui-citeFromIdInspector-dialog-error,
.ve-ui-citeFromIdReferenceWidget {
	line-height: 1.5em;
}

.ve-ui-citeFromIdReferenceWidget .oo-ui-labelElement-label {
	font-size: 1em;
	font-weight: bold;
}

.ve-ui-citeFromIdReferenceWidget .oo-ui-iconElement-icon {
	display: inline-block;
	margin-right: 0.5em;
	background-size: 24px 24px;
	height: 1.5em;
	width: 1.5em;
	padding: 0.2em;
	vertical-align: middle;
}

.ve-ui-citeFromIdReferenceWidget .ve-ui-previewWidget {
	margin-top: 0.5em;
}

.ve-ui-citeFromIdReferenceWidget-insert-button {
	float: right;
}

.ve-ui-citeFromIdInspector-dialog-error {
	display: inline-block;
}

.ve-ui-citeFromIdInspector-sourceSelect .oo-ui-optionWidget {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	margin: 0.5em 0;
}
