/*!
 * VisualEditor UserInterface CitoidInspectorTool styles.
 */

.oo-ui-tool-name-citoid .oo-ui-popupWidget-body .ve-ui-educationPopup-header {
	background: url( ../../VisualEditor/modules/ve-mw/ui/styles/tools/images/reference-ltr.png ) no-repeat center/90%;
	height: 150px;
}
