/*!
 * VisualEditor UserInterface CiteFromId styles.
 */

.ve-ui-citeFromIdInspector-search {
	min-height: 20em;
}

.ve-ui-citeFromIdInspector-search .ve-ui-mwReferenceResultWidget {
	padding: 0.5em;
}

.ve-ui-citeFromIdInspector-dialog-error,
.ve-ui-citeFromIdReferenceWidget {
	line-height: 1.5em;
}

.ve-ui-citeFromIdReferenceWidget {
	padding: 0.5em;
}

.ve-ui-citeFromIdReferenceWidget + .ve-ui-citeFromIdReferenceWidget {
	margin-top: 0.75em;
	padding-top: 0.75em;
	border-top: 1px solid #ccc;
}

.ve-ui-citeFromIdReferenceWidget.oo-ui-labelElement .oo-ui-labelElement-label {
	white-space: normal;
	font-size: 1em;
	font-weight: bold;
}

.ve-ui-citeFromIdReferenceWidget.oo-ui-iconElement > .oo-ui-iconElement-icon {
	position: static;
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
}

.ve-ui-citeFromIdReferenceWidget .ve-ui-previewElement {
	margin-top: 0.5em;
}

.ve-ui-citeFromIdReferenceWidget .ve-ui-previewElement > p:last-child {
	margin-bottom: 0;
}

.ve-ui-citeFromIdReferenceWidget-insert-button {
	float: right;
	margin: 0 0 1em 1em;
	/* Position above mw-body-content */
	position: relative;
	z-index: 1;
}

.ve-ui-citeFromIdInspector-credit {
	font-size: x-small;
	color: #888;
	display: block;
	text-align: right;
}

.ve-ui-citeFromIdInspector-dialog-error {
	margin-top: 1em;
	color: #c00;
}

.ve-ui-citeFromIdInspector-sourceSelect {
	margin: -0.5em 0;
}

.ve-ui-citeFromIdInspector-sourceSelect .oo-ui-optionWidget {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	margin: 0.5em 0;
}

.ve-ui-citeFromIdInspector-sourceSelect .ve-ui-citeSourceSelectWidget-basic {
	width: 100%;
}
